parameters:
    level: 6
    ignoreErrors:
        # due toArray()
        #- '#Method [a-zA-Z0-9\\_]+::fromArray() has parameter \$arr with no value type specified in iterable type array.#'
    paths:
        - src
        #- tests
    parallel:
        # disabled parallel because of "Could not open input file: logging"
        maximumNumberOfProcesses: 0
    editorUrl: 'idea://open?file=%%file%%&line=%%line%%'
